* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(192, 15%, 94%);
  font-family: system-ui, sans-serif;
}

.dashboard {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  padding-bottom: 1.6rem;
  background-color: hsl(240, 46%, 49%);
  color: hsl(240, 100%, 96%);
}

.dashboard .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.6rem 0.8rem;
  max-width: 72rem;
}

.dashboard .container .card {
  flex-basis: 20rem;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem;
  background-color: hsl(251, 54%, 28%);
  border-radius: 0.6rem;
}

.dashboard .container .card .title {
  font-size: 1.1rem;
  font-weight: 400;
}

.dashboard .container .card .current-year {
  font-size: 1.2rem;
  font-weight: bold;
}

.dashboard .container .card select {
  margin-top: 0.4rem;
  padding: 0.2rem;
  font-size: 1rem;
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
}

.app .error {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.app .main-chart {
  flex-basis: 50%;
}

.app .side-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arc {
  stroke: hsl(206, 100%, 94%);
  stroke-width: 0.25px;
}

.country {
  stroke: hsl(0, 0%, 40%);
  stroke-width: 0.2px;
  cursor: pointer;
}

.country.active {
  stroke: hsl(210, 29%, 24%);
  stroke-width: 1px;
}

.title {
  text-anchor: middle;
  font-size: 1.4rem;
  font-weight: 600;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 0.2rem solid hsl(240, 29%, 47%);
  background-color: hsl(0, 0%, 98%);
  border-radius: 0.4rem;
  padding: 0.4rem;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  bottom: -1.125rem;
  left: 50%;
  margin-left: -4px;
  border: 0.5rem solid transparent;
  border-top-color: inherit;
}
